ENV=ENV
PROJECT_NAME=PROJECT_NAME
CLIENT_DOMAIN=CLIENT_DOMAIN
INVITE_CODE_PREFIX=INVITE-ME
DOMAIN=BACKEND_DOMAIN
DATABASE_URL=postgres*******************_db
ALGORITHM=ALGORITHM
APP_SECRET_KEY=APP_SECRET_KEY
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxx
REDIS_URL=pk_test_xxxxxxxx
REDIS_URL=REDIS_URL
GEMINI_API_KEY=your-gemini-api-key-here
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID